.header {
	position: relative;
	padding: 28px 0;
	background-color: #fff;
	box-shadow: 0px 1px 20px 0px rgba(72, 3, 38, 0.07);
	z-index: 1;
}
.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}
.buttons {
	display: flex;
	gap: 30px;
}
.button {
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	width: 300px;
	height: 65px;
	background-color: #00C78B;
	border-radius: 30px;
	border: none;
}
.button:disabled {
	background-color: #a7c7be;
}
@media (max-width: 1024px) {
	.buttons {
		gap: 20px;
	}
	.button {
		font-size: 14px;
		width: 220px;
		height: 45px;
	}
}
@media (max-width: 770px) {
	.wrapper {
		flex-direction: column;
		gap: 20px;
	}
	.buttons {
		flex-direction: column;
	}
}